body{
	background-image: linear-gradient(to bottom, white, #63b5a2);
}

p{
	
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    letter-spacing: 0pt;
}

h3{
	font-family: 'Abril Fatface', cursive;
    font-size: 20pt;
	text-align: center;
	
	
}

h2{
	padding-top: 20pt;
	padding-bottom: 20pt;
	letter-spacing: 3pt;
}

.container-3{
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.project-info{
	padding-right: 20pt;
	padding-top: 50pt;
}

@media screen and (max-width: 450px) {
    
}


@media screen and (max-width: 768px) {

    

}