body {
    background-image: linear-gradient(to bottom, white, #376789);
}

p {
    font-family: 'Roboto', sans-serif;
    font-size: 10pt;
    letter-spacing: 0pt;
}

h3 {
    font-family: 'Abril Fatface', cursive;
    font-size: 20pt;
    text-align: center;
}

h2 {
    padding-top: 20pt;
    padding-bottom: 20pt;
    letter-spacing: 3pt;
}


/* Bob */

@-webkit-keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob {
    0% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
    50% {
        -webkit-transform: translateY(-4px);
        transform: translateY(-4px);
    }
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@-webkit-keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

@keyframes hvr-bob-float {
    100% {
        -webkit-transform: translateY(-8px);
        transform: translateY(-8px);
    }
}

a img:hover {
    color: white;
    -webkit-animation-name: hvr-bob-float, hvr-bob;
    animation-name: hvr-bob-float, hvr-bob;
    -webkit-animation-duration: .3s, 1.5s;
    animation-duration: .3s, 1.5s;
    -webkit-animation-delay: 0s, .3s;
    animation-delay: 0s, .3s;
    -webkit-animation-timing-function: ease-out, ease-in-out;
    animation-timing-function: ease-out, ease-in-out;
    -webkit-animation-iteration-count: 1, infinite;
    animation-iteration-count: 1, infinite;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    -webkit-animation-direction: normal, alternate;
    animation-direction: normal, alternate;
}

.container-3 {
    padding-top: 100pt;
    padding-bottom: 100pt;
}

.project-info {
    padding-right: 50pt;
    padding-top: 50pt;
    padding-left: 0px;
}

.profile_picture {
    width: 150px;
    height: 150px;
}

@media screen and (max-width: 450px) {}

@media screen and (max-width: 768px) {
    .project-info {
        padding-right: 50pt;
        padding-top: 50pt;
        padding-left: 50pt;
    }
    .container-3 {
        padding-top: 20pt;
    }
}

.img-sticky {
    position: -webkit-sticky;
    /* Safari */
    position: fixed;
    z-index: 2;
    top: 50%;
    right: 0;
    width: 75px;
    height: 75px;
}